@{
    ViewBag.Title = " Контакт";
}
<p class="body-content-header"><i class="fa fa-angle-right"></i>@ViewBag.Title</p>

<div class="contact-container">
    <div>
        <div>
            Адреса
        </div>
        <div>
            <i class="fa fa-map-marker"></i>Адреса: ул. Руѓер Бошковиќ 16
        </div>
        <div>
            <i class="fa fa-phone"></i>Администрација: 02 1234 567
        </div>
        <div>
            <i class="fa fa-phone"></i>Билетарница: 02 7654 321
        </div>
    </div>
    <div>
        <div>
            Работно време на билетарница
        </div>
        <div>
            <i class="fa fa-clock-o"></i>Понеделник - Петок: 09:00 - 14:00 и еден час пред почеток на настаните.
        </div>
        <div>
            <i class="fa fa-clock-o"></i>Сабота: 09:00 - 13:00 и еден час пред почеток на настаните.
        </div>
    </div>
    <div>
        <div>
            Информации околу КОВИД-19
        </div>
        <div>
            Според препораките на Владата на РСМ, Министерството за Култура и Центарот за Јавно Здравје, вe известуваме дека се исполнети сите услови и протоколи за безбедно следење на нашите претстави.
        </div>
    </div>
    <div>
        <div>
            Најдете нè на социјалните мрежи
        </div>
        <div>
            <a href="#"><i class="fa fa-facebook-official"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>